# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.cache/**
/grade/**
gradle.bat
gradlew
/.gradle/**
/build/**
/static/**
/releases/**
