/* The side navigation menu */
.sidenav-main {
    width: 150px !important; /* 0 width - change this with JavaScript */
    position: fixed !important; /* Stay in place */
    z-index: 2000 !important; /* Stay on top */
    top: 10% !important; /* Stay at the top */
    bottom: 10% !important; /* Stay at the top */
    background: transparent;
    border-color: transparent;
    padding: 0 !important;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.sidenav-main.right {
    right: -150px;
    left: auto;
    margin-right: -1px;
}

.sidenav-main.left {
    left: -150px;
    right: auto;
    margin-left: -1px;
}

.sidenav-main.right.show {
    /*right: 0 !important; !* 0 width - change this with JavaScript *!*/
    transform: translate(-150px, 0px);

}

.sidenav-main.left.show {
    transform: translate(150px, 0px);
}

.menu-image-component {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 44px;
    position: absolute;
    top: calc(50% - 22px);
    padding: 9px 0 10px 4px !important;
}

.menu-image-component.light {
    background: rgba(0, 0, 0, 0.8);
    fill: #fff;
}

.menu-image-component.dark {
    background: rgba(255, 255, 255, 0.8);
    fill: #000;
}

.menu-image {
    cursor: pointer;
    padding: 0 !important;
    margin: 0 3px 0 -2px;
}

.menu-image-component.right {
    right: 148px;
    border-radius: 50px 0 0 50px;
}

.menu-image-component.left {
    left: 148px;
    border-radius: 0 50px 50px 0;
}

.menu-image-header-footer {
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.menu-image-header-footer.dark {
    fill: #000
}

.menu-image-header-footer.light {
    fill: #FFF
}

.sidenav {
    width: 100%;
}

.sidenav.light {
    background: rgba(0, 0, 0, .8); /* Black*/
}

.sidenav.dark {
    background: rgba(255, 255, 255, .8); /* Black*/
}

.sidenav-header-footer {
    display: flex !important;
    align-content: center;
    justify-content: center;
    height: 15px !important; /* 100% Full-height */
    width: 100% !important; /* 0 width - change this with JavaScript */
    padding: 0 !important;
}

.sidenav-header.right {
    border-radius: 50px 0 0 0 !important;
}

.sidenav-footer.right {
    border-radius: 0 0 0 50px !important;
}

.sidenav-header.left {
    border-radius: 0 50px 0 0 !important;
}

.sidenav-footer.left {
    border-radius: 0 0 50px 0 !important;
}

.sidenav-inner {
    height: 100%;
    width: 100%;
    border-color: transparent;
    overflow-y: auto;
    -webkit-transition: direction 1s;
    -moz-transition: direction 1s;
    -o-transition: direction 1s;
    transition: direction 1s;
}

.sidenav-inner.right {
    direction: ltr;
}

.sidenav-inner.left {
    direction: rtl;
}

.side-menu-user {
    display: block !important;
    text-align: center;
    width: 100%;
    font: 300 14px 'Oswald', sans-serif !important;
    letter-spacing: 1px !important;
    padding: 5px !important;
    margin: 0 !important;
}

.side-menu-user.light {
    color: #FFF !important;
    background: rgba(0, 0, 0, .8);
}

.side-menu-user.dark {
    color: #000 !important;
    background: rgba(255, 255, 255, .8);
}

.sidenav-inner-scroll-container {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    direction: ltr
}

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
@media screen and (max-height: 510px) {
    .menu-image-header-footer {
        visibility: visible;
    }
}


